# Sesuaikan dengan koneksi MySQL kamu di HeidiSQL / XAMPP / Laragon
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:@localhost:3306/kasir_minimarket"

NEXTAUTH_SECRET="ganti-dengan-string-acak-yang-panjang"
NEXTAUTH_URL="http://localhost:3000"
